nav {
  font-family: Roboto;
}

.nav-menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4.7rem;

  li {
    list-style: none;
  }
}

.nav-link,
.nav-sub-link {
  text-decoration: none;
  color: var(--text-color-header);
  transition: all 0.3s;

  &.active {
    font-weight: 600;
    color: var(--main-color);
  }

  &:hover,
  &:active {
    font-weight: 600;
    color: var(--main-color);
  }
}

.with-sub-menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  i {
    width: 12px;
    transition: all 0.3s;
    img {
      display: block;
      width: 100%;
    }
  }

  &.open {
    i {
      transform: rotate(180deg);
    }
  }
}

.nav-sub-menu {
  position: absolute;
  padding: 5px;
  background-color: var(--bgc);

  li {
    margin: 5px 0;
  }
}

@media only screen and (max-width: 1199px) {
  .nav-menu {
    gap: 3rem;
  }
}
