.page-title {
  font-family: 'PoppinsBold';
  text-align: center;
  font-size: 4rem;
}

.page-subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--text-color-1);
  margin-top: 1rem;
}
