footer {
  padding: 8rem 6rem 6.5rem;
  background-color: var(--main-color);
  color: var(--accent-color);

  .logo-link {
    filter: brightness(0) invert(1);
    width: 18rem;
    margin: 0 auto 4.5rem;
  }

  .contact-info {
    gap: 2.5rem;
  }
}

.footer-info {
  padding: 3rem 0 0 2rem;
  border-top: 1px solid currentColor;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
}

.footer-info-block {
  &.contact-block {
    width: 35rem;
  }
  &.subscribe-block {
    width: min(100%, 32rem);
  }
}

.info-block-title {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
