footer {
  padding: 8rem 6rem 6.5rem;
  background-color: var(--main-color);
  color: var(--accent-color);

  .logo-link {
    filter: brightness(0) invert(1);
    width: 18rem;
    margin: 0 auto 4.5rem;
  }

  .contact-info {
    gap: 2.5rem;
  }

  .subscribe-form-wrapper {
    margin-top: -14px;
  }
}

.footer-info {
  padding: 3rem 0 0 2rem;
  border-top: 1px solid currentColor;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
}

.footer-info-block {
  &.contact-block {
    width: 35rem;
  }
  &.subscribe-block {
    width: 32rem;
  }
}

.info-block-title {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 2rem 0;

    .logo-link {
      margin: 0 auto 2rem;
    }

    .contact-info {
      gap: 2rem;
    }

    .subscribe-form-wrapper {
      margin-top: 0;
    }
  }

  .footer-info-block {
    font-size: 1.2rem;
    &.contact-block {
      width: 15rem;
    }
    &.subscribe-block {
      width: 100%;
    }
  }

  .info-block-title {
    font-size: 1.6rem;
  }

  .footer-info {
    padding-left: 0;
  }
}
